<div id="fsmodaldialog_layerconnect" class="modal fade pt-page pt-page-item" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xml">
		<div class="modal-content portal-area fa-portal-area">
			<div class="modal-header">
				<h4 class="modal-title">
					<% if(!page.isUpdateMode()) {%>
						<%=label.get('modalheadertitle_newconnect','New Connection')%>
					<% } %>
					<% if(page.isUpdateMode()) {%>
						<%=label.get('modalheadertitle_editconnect','Edit Connection')%>
					<% } %>
				</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div id="entrydialoglayerconnect" class="entry-dialog-layer">
			<form id="fsentryformconnect" role="form" data-toggle="validator" name="fsentryformconnect" method="post">
				<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
				<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
				<input type="hidden" name="page" value="<%=page.setting?.page%>"/>
				<%- include('./emte001_connect_kit') %>
			</form>	
			</div>
			<div class="row-heighter modal-footer" >
				<% if(!page.isUpdateMode()) {%>
					<input type="button" id="savebuttonconnect" class="btn btn-dark btn-sm" value="<%=label.get('savebutton','Save')%>"/>
				<% } %>
				<% if(page.isUpdateMode()) {%>
					<input type="button" id="updatebuttonconnect" class="btn btn-dark btn-sm" value="<%=label.get('updatebutton','Update')%>"/>
				<% } %>
				<input type="button" id="canceldialogbuttonconnect" class="btn btn-dark btn-sm" data-dismiss="modal" value="<%=label.get('canceldialogbutton','Cancel')%>"/>
			</div>
		</div>
	</div>
</div>
