<input type="hidden" id="dialogconnectid" name="connectid" value="<%=data.dataset?.connectid%>" />
<input type="hidden" id="connecttype" name="connecttype" value="DB" />
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-10">
<label for="connectname" id="connectname_label" class="control-label"><%=label.get('connectname_label','Connection Name')%></label>
<div class="input-group"><input type="text" id="connectname" name="connectname" class="form-control input-md irequired alert-input" maxlength="150" value="<%=data.dataset?.connectname%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="connectname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectname_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-height">
			<div class="table-layer-class">
				<div class="row row-height">
					<div class="col-height col-md-4">
<label for="connectdialect" id="connectdialect_label" class="control-label"><%=label.get('connectdialect_label','Dialect')%></label>
<div class="input-group">
<%-page.html('select',{map: data.entity?.tdialect, value: data.dataset?.connectdialect, id: "connectdialect", name: "connectdialect", class: "form-control input-md"})%>
<div class="input-group-required"><label class="required">*</label></div></div><div id="connectdialect_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectdialect_alert','You can not leave this empty')%></div>
					</div>
				</div>
			</div>
	</div>
</div>
<div id="dblayer">
	<div id="providedlayer">
		<div id="urllayer">
			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-12">
			<label for="connecturl" id="connecturl_label" class="control-label"><%=label.get('connecturl_label','Connection URL')%></label>
			<div class="input-group"><input type="text" id="connecturl" name="connecturl" class="form-control input-md irequired alert-input" maxlength="250" value="<%=data.dataset?.connecturl%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connecturl_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connecturl_alert','You can not leave this empty')%></div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div id="unurllayer">
			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-4">
			<label for="connectuser" id="connectuser_label" class="control-label"><%=label.get('connectuser_label','User')%></label>
			<div class="input-group"><input type="text" id="connectuser" name="connectuser" class="form-control input-md irequired alert-input" maxlength="200" value="<%=data.dataset?.connectuser%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connectuser_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectuser_alert','You can not leave this empty')%></div>
								</div>
								<div class="col-height col-md-4">
			<label for="connectpassword" id="connectpassword_label" class="control-label"><%=label.get('connectpassword_label','Password')%></label>
			<div class="input-group"><input type="password" id="connectpassword" name="connectpassword" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.connectpassword%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connectpassword_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectpassword_alert','You can not leave this empty')%></div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-4">
			<label for="connectdatabase" id="connectdatabase_label" class="control-label"><%=label.get('connectdatabase_label','Database')%></label>
			<div class="input-group"><input type="text" id="connectdatabase" name="connectdatabase" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.connectdatabase%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connectdatabase_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectdatabase_alert','You can not leave this empty')%></div>
								</div>
								<div class="col-height col-md-4">
			<label for="connecthost" id="connecthost_label" class="control-label"><%=label.get('connecthost_label','Host')%></label>
			<div class="input-group"><input type="text" id="connecthost" name="connecthost" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.connecthost%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connecthost_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connecthost_alert','You can not leave this empty')%></div>
								</div>
								<div class="col-height col-md-4">
			<label for="connectport" id="connectport_label" class="control-label"><%=label.get('connectport_label','Port')%></label>
			<div class="input-group"><input type="text" id="connectport" name="connectport" class="form-control input-md irequired alert-input iint" maxlength="50" value="<%=data.dataset?.connectport%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="connectport_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('connectport_alert','You can not leave this empty')%></div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-height" id="unprovidedlayer">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-12">
	<label id="unprovided_label" class="control-label"><%=label.get('unprovided_label','Does not supported')%></label>
						</div>
					</div>
				</div>
		</div>
	</div>	
</div>
