<% let display = "readonly"; %>
		<input type="hidden" id="tasktype" name="tasktype" value="IMPORT" />
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-7">
<label for="taskid" id="taskid_label" class="control-label"><%=label.get('taskid_label','Task ID')%></label>
<div class="input-group"><input type="text" id="taskid" name="taskid" class="form-control input-md irequired alert-input" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.taskid%>" <%=display%>/><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="taskid_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('taskid_alert','You can not leave this empty')%></div>
							</div>
							<div class="col-height col-md-3">
								<div class="checkbox checkbox form-check" id="shareflagbox">									
									<input type="checkbox" id="shareflag" name="shareflag" class="form-control input-md form-check-input" class="form-control input-md" value="1" <%=page.checked('1',data.dataset?.shareflag)%> title="Sharing task with other"/>
									<label for="shareflag" id="shareflag_label" class="control-label form-check-label" title="Sharing task with other"><%=label.get('shareflag_label','Sharing')%></label>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-10">
<label for="taskname" id="taskname_label" class="control-label"><%=label.get('taskname_label','Task Name')%></label>
<div class="input-group"><input type="text" id="taskname" name="taskname" class="form-control input-md irequired alert-input" maxlength="50" value="<%=data.dataset?.taskname%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="taskname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('taskname_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
